%bm-code {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 5px 8px;
    border: 1px solid #ddd;
    font-size: 12px;
    font-family: monospace, sans-serif;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;
}